<html>
<head>
<title>Challenge 1</title>
</head>
<body bgcolor=black>
<center>
<br><br><br><br><br>
<font color=white>
---------------------<br>
<br>
<!--기적의 계산법 20-14-->
<form method="GET" action="/checkCookie">
    <input type="submit" value="submit" class="pull-right" name="sub"/>
</form>
</center>
</body>
</html>