    <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
    <html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Write something else you want</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
     
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
        caption{
            font-size:45px;
            font-family: "맑은 고딕";
            text-align: center;
            border:#000000;
        }
    </style>
    </head>
    <body>
    <div class="container">
    <table class="table table-bordered">
        <thead>
            <caption> Cert05 </caption>
        </thead>
        <tbody>
            <form method="GET" action="/check">
                <tr>
                    <th>cookie</th>
                    <td><input type="text" placeholder="what brings here?" name="subject" class="form-control"/></td>
                </tr>
                
                <tr>
                    <td colspan="2">
                        <input type="submit" value="등록" class="pull-right" name="sub"/>
                    </td>
                </tr>
            </form>
        </tbody>
    </table>
    </div>
    </body>
    </html>